* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #ffffff;
    color: #222;
}

/* NAVBAR */
.navbar {
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    background: rgba(255, 255, 255, 0.55);
    backdrop-filter: blur(12px);
    z-index: 1000;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}


.navbar .logo {
    font-size: 28px;
    font-weight: 700;
    color: #c58f0f; /* Gold */
}

.navbar nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: 0.3s;
}

.navbar nav a:hover {
    color: #c58f0f;
}

